@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
#textboxcontainer {
  /* Define the styles for the centered div */
  position: relative;
  top: 20%;
  left: 20%;
  transform: translate(-25%, -50%);
  height: 50%;
  width: 50%;
  background-color: black;
}

.textpaper {
  width: 50vw;
  height: 50vw;
  background-image: url("../assets/paperback.png");
  background-size: contain;
  background-repeat: no-repeat;
  align-content: center;
  display: grid;
  justify-content: center;
  top: 30%;
  position: absolute;
  transform: translateY(-50%);
}

#text-container {
  font-family: Papyrus;
  position: relative;
  color: #fff;
  font-size: 1.6vw;
  text-shadow: 1px 1px 2px black;
  -webkit-text-shadow: 1px 1px 2px black;
  -moz-text-shadow: 1px 1px 2px black;
  width: 64.7%;
  left: 10%;
  top: 6.1%;
  text-align: inherit;
  text-shadow: 2px 2px 1px black;
}

@media screen and (max-width: 600px) {
  .textpaper {
    width: 50vw;
    height: 50vw;
    background-image: url("../assets/paperback.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
    display: grid;
    justify-content: center;
    top: 30%;
    position: absolute;
    transform: translateY(-16%) translateX(-31%) rotate(90deg) scale(2);
  }
  #text-container {
    font-family: Papyrus;
    position: relative;
    color: #fff;
    font-size: 1.6vw;
    text-shadow: 1px 1px 2px black;
    -webkit-text-shadow: 1px 1px 2px black;
    -moz-text-shadow: 1px 1px 2px black;
    width: 30.5%;
    left: 33.3%;
    transform: rotate(-90deg);
  }
}
.textbox {
  /* Define the styles for the centered div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  height: calc(100% - 50px); /* Subtract 50px from the height */
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

.corner-1 {
  width: 50px;
  height: 50px;
  background-image: url("../assets/frame/c1.png");
  position: absolute;
  right: auto;
  top: 0;
  left: 0;
  bottom: auto;
  background-size: contain;
}

.corner-2 {
  width: 50px;
  height: 50px;
  background-image: url("../assets/frame/c2.png");
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  bottom: auto;
  background-size: contain;
}

.corner-3 {
  width: 50px;
  height: 50px;
  background-image: url("../assets/frame/c3.png");
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: contain;
}

.corner-4 {
  width: 50px;
  height: 50px;
  background-image: url("../assets/frame/c4.png");
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: contain;
}

.frame-1 {
  position: fixed;
  width: 100%;
  height: 5px;
  background-image: url("../assets/frame/frame3.png");
  background-size: contain;
  z-index: -1;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  top: 0;
  background-position: center top;
  transform: rotateZ(0deg);
}

.frame-2 {
  position: fixed;
  width: 5px;
  height: 100%;
  background-image: url("../assets/frame/frame4.png");
  background-size: contain;
  z-index: -1;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  right: calc(100% - 5px);
  right: 0;
  background-position: right center;
  transform: rotateZ(180deg);
}

.frame-3 {
  position: fixed;
  width: 100%;
  height: 5px;
  background-image: url("../assets/frame/frame3.png");
  background-size: contain;
  z-index: -1;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  bottom: calc(100% - 5px);
  background-position: center bottom;
  transform: rotateZ(180deg);
  bottom: 0;
}

.frame-4 {
  position: fixed;
  width: 5px;
  height: 100%;
  background-image: url("../assets/frame/frame4.png");
  background-size: contain;
  z-index: -1;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  left: 0;
  background-position: left center;
  transform: rotateZ(0deg);
}/*# sourceMappingURL=textbox.css.map */