doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="view-transition", content="same-origin")
    script(type="module", src="../js/preloader.js")
    link(rel="stylesheet", href="../css/preloader.css")
    link(rel="stylesheet", type="text/css", href="css/homepage.css")
    link(rel="stylesheet", type="text/css", href="css/header.css")
    script(src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js")
    script(src="https://code.jquery.com/jquery-3.6.4.min.js")
    script(src="https://cdn.jsdelivr.net/npm/grained@0.0.2/grained.min.js")
    title Homepage
  body
    #preloader
      #loader-wrapper
        #loader
        #progress-bar
        #progress-percent 0%
    #headerContainer
    //
      <div class="Gripper"> </div>
      <div class="Grippertop"> </div>
    // <div id="custom-cursor"></div>
    .cards
      .card(onclick="scrollToAboutMe()")
        .card-face
          .card-art
          .cardName About me
          .cardText
            br
            | A multi-media artist based in Tbilisi, Georgia
      .card(onclick="scrollToPortfolio()")
        .card-face
          .cardName Portfolio
          .cardText
            br
            | See what I have done.
          .card-art
      .card(onclick="scrollToShop()")
        .card-face
          .cardName Services
          .cardText
            br
            | See what I have to offer.
            br
            | Things for sale.
            br
            | Things long sold.
          .card-art
      .card(onclick="scrollToContact()")
        .card-face
          .cardName Contact Me
          .cardText
            br
            | NexBexel@outlook.com
            br
            br
            | +599514325
          .card-art
    section.floorbox
      // Content of floorbox
    section.redblock
      // Content of redblock
    section.greenblock
      // Content of greenblock
    section.blueblock
      // Content of blueblock
    footer
    script
    script(src="js/preloader.js")
    script(src="js/cursor.js")
    script(src="js/header.js")
    script(src="js/homepage.js")
